<section class="admin-login">
  <mat-card>
    <h1>Panel administratora</h1>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" type="email" />
        @if (form.get('email')?.hasError('required')) {
          <mat-error> Wpisz e-mail. </mat-error>
        }
        @if (form.get('email')?.hasError('email')) {
          <mat-error> Niepoprawny adres. </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Hasło</mat-label>
        <input matInput formControlName="password" type="password" />
        @if (form.get('password')?.hasError('required')) {
          <mat-error> Wpisz hasło. </mat-error>
        }
      </mat-form-field>

      @if (errorMessage()) {
        <p class="error">
          {{ errorMessage() }}
        </p>
      }

      <button mat-flat-button class="pill-button pill-button--primary" type="submit">
        Zaloguj
      </button>
    </form>
  </mat-card>
</section>
